html
{

}
body {
  font-family: Century Gothic, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-image: url("img/Logo/Wallpaper_Team_HD.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: revert;
  background-color: rgba(10,46,24,0.84);
}

header {
  background-color: transparent;
  padding: 0px;
  text-align: center;
  front-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 13%;
  height: 700px;
  background: transparent;
  padding: 30px;
  text-decoration: none;
}

nav ul {
  list-style-type: square;
  padding: 1px;
  color: white;
  text-decoration: none;
}

article {
  float: left;
  padding: 10px;
  width: 78%;
  height: 650px;
  color: white;
  position: center;
  background-color: rgba(0,0,0,0.5);
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  padding: 5px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.5);
  position: 50%;
  width: 70%;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
